.clients {
  &__header {
    display: flex;
    justify-content: center;
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-36);
    line-height: var(--line-height-1_172);
    padding-top: 94px;
    padding-bottom: 50px;
  }

  &__list {
    display: flex;
  }

  &__icon {
    display: block;
    max-height: 92px;
    max-width: 172px;
    fill: var(--social-icon-fill);
    padding: 16px 32px;
  }

  &__item {
    display: flex;
    border: 1px solid var(--social-icon-fill);
    border-radius: var(--border-radius-4);

    &:hover,
    &:focus {
      border-color: var(--secondary-color);
      fill: var(--secondary-color);
      transition: var(--transition-cubic-bezier-250ms);
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--secondary-color);
    transition: var(--transition-cubic-bezier-250ms);
  }
}
