.clients {
  &__header {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.172;
    padding-top: 94px;
    padding-bottom: 50px;
  }

  &__list {
    display: flex;
  }

  &__icon {
    display: block;
    max-height: 92px;
    max-width: 172px;
    fill: #afb1b8;
    padding: 16px 32px;
  }

  &__item {
    display: flex;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    &:hover,
    &:focus {
      border-color: var(--secondary-color);
      fill: var(--secondary-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--secondary-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
