.footer {
  display: flex;
  height: 100%;
  background-color: #2f303a;
  display: block;

  &__content {
    display: flex;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 0px;
  }

  &__wrapper {
    &_adress {
      margin-left: 0px;
    }
    &_socials {
      margin-left: 70px;
    }
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-top: 20px;
  }

  &__mailto,
  &__callto {
    color: hsl(0, 0%, 60%);
  }

  &__mailto-p {
    margin-top: 9px;
    margin-bottom: 0px;
  }

  &__callto-p {
    margin-top: 9px;
    margin-bottom: 60px;
  }
}
