.our-team {
  &__header {
    text-align: center;
    font-weight: var(--font-weight-700);
    padding-top: 94px;
    padding-bottom: 50px;
    font-size: var(--font-size-36);
    text-align: center;
    line-height: var(--line-height-1_172);
  }

  &__list {
    display: flex;
    justify-content: center;
    padding-bottom: 94px;
  }

  &__item {
    width: 270px;
    height: 428px;
    background: var(--ideal-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__figure,
  &__img {
    margin: 0;
  }

  &__figure,
  &__photo-description {
    text-align: center;
  }

  &__figcaption {
    padding-top: 30px;
  }

  &__photo-description {
    color: var(--main-color);
  }
}
