.form {
  &__header {
    display: block;
    width: auto;
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-20);
    line-height: var(--line-height-1_150);
    text-align: center;
    letter-spacing: var(--letter-spacing-003em);
    color: var(--font-black-color);
    margin-bottom: 12px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  &__span {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-12);
    line-height: var(--line-height-1_172);
    letter-spacing: var(--letter-spacing-001em);
    color: var(--second-color);
    margin-bottom: 4px;
  }

  &__icon {
    position: absolute;
    display: block;
    left: 55px;
    width: 12px;
    height: 12px;
    margin-right: 15px;
    fill: var(--current-color);
    &_name {
      top: 107px;
    }
    &_tel {
      top: 174.26px;
    }
    &_mail {
      top: 243px;
    }
  }

  &__input {
    display: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: var(--border-radius-4);
    height: 40px;
    margin-bottom: 10px;
    padding-left: 42px;
  }

  &__textarea {
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: var(--border-radius-4);
    &::placeholder {
      font-size: var(--font-size-12);
      line-height: var(--line-height-1_172);
      letter-spacing: var(--letter-spacing-001em);
      color: var(--placeholder-color);
    }
  }

  &__input,
  &__textarea {
    box-sizing: border-box;
    border-radius: var(--border-radius-4);
    &:active,
    &:hover,
    &:focus,
    &:focus-within {
      border-color: var(--secondary-color);
      border-radius: var(--border-radius-4);
      fill: var(--secondary-color);
    }
  }

  &__checkbox {
    display: inline-flex;
    justify-content: center;
    visibility: hidden;
    &:checked {
      visibility: hidden;
    }
  }

  &__checkbox-wrap {
    display: flex;
    justify-content: center;
  }

  &__checkbox-text {
    display: inline-flex;
    justify-content: center;
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-14);
    line-height: var(--line-height-1_174);
    letter-spacing: var(--letter-spacing-003em);
    color: var(--main-color);
    &::before {
      content: "";
      width: 16px;
      height: 15px;
      border-radius: var(--border-radius-2);
      border: 2px solid var(--font-black-color);
      margin-right: 8px;
      transition: var(--transition-cubic-bezier-250ms);
    }
  }

  &__checkbox:checked + &__checkbox-text::before {
    background-color: var(--secondary-color);
    background-image: url(../images/icon-checked.svg);
    fill: var(--secondary-color);
    background-size: 11px 8px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }

  &__link {
    color: var(--secondary-color);
    text-decoration: underline;
  }
}

.submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  color: var(--ideal-white-color);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-16);
  line-height: var(--line-height-1_875);
  letter-spacing: var(--letter-spacing-006em);
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius-4);
}
