.logo {
  margin: 24px 93px 24px 15px;
}

.logo__link {
  font-family: var(--secondary-font);
  color: var(--font-black-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  
    &_footer{
      color: #fff;
    }
}

.logo__accent {
  color: var(--secondary-color);
}
