.logo {
  margin: 24px 93px 24px 15px;

  &__link {
    font-family: var(--secondary-font);
    color: var(--font-black-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    &_footer {
      color: #fff;
    }
  }

  &__accent {
    color: var(--secondary-color);
  }
}
