.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--transition-cubic-bezier-backdrop-750ms);
  // cursor: not-allowed;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--ideal-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius-4);
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--ideal-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: var(--border-radius-50);
  fill: var(--ideal-black-color);
  cursor: pointer;
}

.close-btn svg {
  width: 11px;
  height: 11px;
}
