.header .nav-contact {
  margin-left: auto;
}

.nav-contact-list {
  display: flex;
}

.nav-contact-link-tel,
.nav-contact-link-mail {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  padding: 1, 0;
  color: var(--main-color);
}

.nav-contact-link-mail {
  margin-left: 10px;
}

.nav-contact-link-tel {
  margin-right: 27px;
  margin-left: 50px;
}

.contact-mail-icon,
.contact-mobile-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
}

.contact-mail-icon {
  width: 16px;
  height: 12px;
}
.contact-mobile-icon {
  width: 10px;
  height: 16px;
}
