.newsletter {
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 212px;
  }

  &__text {
    position: relative;
    margin-top: 12px;
    margin-bottom: 20px;
    display: flex;
    font-family: var(--main-font);
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.172;
    letter-spacing: 3%;
    color: #fff;
  }
  &__form {
    position: relative;
    display: flex;
    width: 363px;
    height: 50px;
  }

  &__input {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 3%;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  &__btn {
    position: absolute;
    display: block;
    top: 48px;
    left: 370px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 42px;
    padding-right: 24px;
    width: 200px;
    height: 50px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 6%;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  &__icon {
    display: block;
    margin-left: 20px;
    margin-right: 13px;
    width: 24px;
    height: 24px;
    fill: #fff;
  }
}
