.logo-link:hover,
.logo-link:focus,
.logo-accent:hover,
.logo-accent:focus,
.portfolio-list-item:hover {
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-item-link:hover,
.nav-list-item-link:focus,
.nav-contact-link-mail:hover,
.nav-contact-link-mail:focus,
.nav-contact-link-tel:hover,
.nav-contact-link-tel:focus,
.footer-logo-link:hover,
.footer-logo-link:focus,
.footer-tel:hover,
.footer-tel:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: var(--secondary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
