.container {
  width: 1200px;
  align-items: center;
  margin: 0 auto;

  .header & {
    display: flex;
    align-items: center;
  }

  .our-team & {
    background-color: #f5f4fa;
    width: 100%;
  }

  .clients & {
    margin-bottom: 94px;
    display: flex;
    justify-content: center;
  }
}
